##Excercise2.1

###Excercise2.1.1

In [1]:
n=42
42-n

0

When we put 42-n, it works well.

###Excercise2.1.2

In [6]:
x=y=1
print(x)

1

In [7]:
x=y=1
print(x-y)

0

###Excercise2.1.3

In [8]:
number=3;
print(number);

3

semi-colon doesn't make error.

###Excercise2.1.4

In [8]:
number=3.
print(number).

SyntaxError: ignored

If we put period at the end of the statement, it makes error.

###Excercise2.1.5

In [9]:
x=3
y=6
print(xy)

ERROR! Session/line number was not unique in database. History logging moved to new session 59

NameError: ignored

When we want to multiply two numbers, We have to put * .

In [10]:
x=3
y=6
print(x*y)

18

##Excercise2.2

###Excercise2.2.1

In [17]:
import math
math.pi
radius=5
print(4/3*math.pi*radius**3)

523.5987755982989

I learned what 'import' means and how to use it.
It's like a package. For example, In math package, there are plus,minus and other operations.

In [16]:

from math import pi
r=5

Volume_of_sphere=4/3*math.pi*(r**3)
print(Volume_of_sphere)

523.5987755982989

I tried from math import pi sentence.
It's the same with 
(import math
math.pi ).

###Excercise2.2.2

In [18]:
book_price=24.95
discount=0.4
discounted_book_price=book_price*(1-discount)

total_order_number=60

shipping_cost_first_copy=3
shipping_cost=0.75


total_cost_for_sixty_copies=(discounted_book_price+shipping_cost_first_copy)+((discounted_book_price+shipping_cost)*(total_order_number-1))
print(total_cost_for_sixty_copies)

945.4499999999999

###Excercise2.2.3

In [27]:
SECONDS = 1
MINUTES = 60 * SECONDS
HOURS = 60 * MINUTES

time_left_house_in_seconds = 6 * HOURS + 52 * MINUTES

miles_run_easy_pace_in_seconds = 2 * (8 * MINUTES + 15 * SECONDS)

miles_run_fast_pace_in_seconds = 3 * (7 * MINUTES + 12 * SECONDS)

total_time_run_in_seconds = miles_run_easy_pace_in_seconds + miles_run_fast_pace_in_seconds+ time_left_house_in_seconds

hours = total_time_run_in_seconds // HOURS

part_hour = total_time_run_in_seconds % HOURS
minutes = part_hour // MINUTES
seconds = part_hour % MINUTES
print(hours,':',minutes,':',seconds)

7 : 30 : 6

I changed all times into seconds to calculate easily.

In [28]:
import datetime
time_left_house_in_seconds = 6 * HOURS + 52 * MINUTES

miles_run_easy_pace_in_seconds = 2 * (8 * MINUTES + 15 * SECONDS)

miles_run_fast_pace_in_seconds = 3 * (7 * MINUTES + 12 * SECONDS)

total_time_run_in_seconds = miles_run_easy_pace_in_seconds + miles_run_fast_pace_in_seconds+ time_left_house_in_seconds

hours = total_time_run_in_seconds // HOURS

part_hour = total_time_run_in_seconds % HOURS
minutes = part_hour // MINUTES
seconds = part_hour % MINUTES
print(hours,':',minutes,':',seconds)

7 : 30 : 6

I tried import in this program.
It is shorter and more readable than the former one.

Through the Lab2 feedbacks, I learned how to use Google Colab properly especially, I didn't know how to use text cell but now I know how to use it. I learned that python work just the same if we put ';' like C or C++.
And I learned what is import in python and how to use this function. Now I decide that I'm going to study actively more about python.